<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Search Results -->
    <main>
        <h2>Search Results</h2>
        <ul>
            <% results.forEach(function(result) { %>
                <li>
                    <a href="/<%= result.type %>/<%= result.id %>">
                        <%= result.title %> - <%= result.type %>
                    </a>
                </li>
            <% }); %>
        </ul>

            
    </main>

      <!-- Footer -->
        <%- include('partials/footer') %>

    

</body>
</html>
